.col-align {
text-align: right;
}

.container-fluid {
    background-color: #f1f1f1;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row-spacer {
    margin-bottom: 2em;
}
